.chatInput {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.chatInput::-webkit-scrollbar {
  display: none; /* WebKit */
}

/* Ensure font sizing is readable to prevent zooming on iOS */
@media (max-width: 640px) {
  .chatInput {
    font-size: 16px; 
  }
}
